<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inventario{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

</head>
<body>
    <header>

        <h1>Inventario de Productos</h1>
        <nav>
            <a href="{% url 'listar_productos' %}">Inicio</a>
            <a href="{% url 'crear_producto' %}">Nuevo Producto</a>
        </nav>
    </header>
    <main>
        {% block contenido %}{% endblock %}
    </main>
</body>
</html>
