{% extends 'motus/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Contenido principal -->
    <link rel="stylesheet" href="{% static 'login/css/home.css' %}?v=1.1">
    <div class="dashboard-container">
        <main class="dashboard-main">
            <section class="welcome-section">
                <div class="welcome-card">
                    <div class="card-icon">
                        <i class="fas fa-car"></i>
                    </div>
                        <h1>
                            Bienvenido a MotusCar {{ user.first_name|title }}
                        </h1>
                        <p class="welcome-subtitle">
                            En MotusCar tenemos todo lo que necesitas para tu vehículo:
                        </p>
                        <ul class="welcome-features">
                            <li><i class="fas fa-calendar-check"></i> Agenda citas con los mejores mecánicos</li>
                            <li><i class="fas fa-tools"></i> Compra repuestos originales con garantía</li>
                            <li><i class="fas fa-history"></i> Revisa tu historial de servicios</li>
                        </ul>
                    </div>
            </section>

            <section class="quick-actions">
                {% if user.is_authenticated %}
                <h3>¡ Prueba nuestras funciones !</h3>
                {% else %}
                <h3>¡ Registrate para probar todas nuestras funciones !</h3>
                {% endif %}
                <div class="action-grid">
                    <a href="{% url 'listar_agenda' %}" class="action-card">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Mi Agenda</span>
                    </a>  
                    <a href="{% url 'listar_mecanicos' %}" class="action-card">
                        <i class="fas fa-user-cog"></i>
                        <span>Buscar un Mecanico</span>
                    </a>
                </div>
            </section>
        </main>
    </div>


{%endblock%}

